
{% set node_title = node ? node.label() : label %}

<article
  about="{{ url }}"
  typeof="sioc:Item foaf:Document"
  role="article"
  class="blog-teaser">
  <header>
    <h2 class="blog-teaser__title">
    {{ title_suffix }}
      <a href="{{ url }}" rel="bookmark">
        {{ label }}
      </a>
    </h2>
  </header>
  <div class="blog-teaser__content">

    <div class="blog-teaser__content--image">
    {% block blog_image %}
      <div class="field__items">
        <div class="field__item even">
          <a href="/grey-matters/adopting-senior-dog/how-bond-your-adopted-senior-dog">
            <img typeof="foaf:Image" src="https://www.greymuzzle.org/sites/default/files/styles/basic_page_220x220/public/webform/grantee-story/angelo_4.jpg?itok=8MyTkYGR" width="220" height="147">
          </a>
        </div>
      </div>
    {% endblock %}
    </div>
    <div class="blog-teaser__content--body">
      {% block blog_content %}
      <div class="field__items">
        <div class="field__item even" property="content:encoded">
          Life with a senior dog is different than one with a puppy, but that doesn’t mean our hearts aren’t just as full. Older dogs are every bit as capable of bonding and providing unconditional love as younger pups. Read on for a few ways to bond with your dog that are suitable for senior dogs regardless of their energy level.
        </div>
      </div>
      {% endblock %}
      <div class="blog-teaser__readmore">
        <a href="{{ url }}" rel="tag" title="{{ node_title }}">
            Read more<span class="element-invisible"> about {{ node_title }}</span>
        </a>
      </div>
    </div>
  </div>
</article>
