{{ attach_library('greymuzzle9/main-menu') }}

<nav class="navbar navbar-expand-lg main-menu">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="mb-2 navbar-nav mb-lg-0">
        {%  for key, item in menu_items %}
          {%  set navclass = 'nav-item' %}
          {%  set navclassextra = [
            item.below ? 'dropdown' : ''
          ] %}
          {%  set linkclassextra = [
            item.below ? 'dropdown-toggle' : '',
            item.in_active_trail ? 'active' : ''
          ] %}
          {%  if item.below %}
            {%  set navclass = 'nav-item dropdown' %}
            {%  set linkclass = 'nav-link dropdown-toggle' %}
            {%  set linkextra = 'role=button data-bs-toggle=dropdown aria-expanded=false' %}
          {% else %}
            {%  set navclass = 'nav-item' %}
            {%  set linkclass = 'nav-link' %}
            {%  set linkextra = '' %}
          {%  endif  %}
          <li  {{  bem('nav-item', [], '', navclassextra) }}{{  item.attributes }}>
            <a {{  bem('nav-link', [], '', linkclassextra) }} {{  linkextra }} {% if not item.below %}href="{{item.url}}"{% endif %}>{{  item.title }}</a>
            {%  if item.below %}
              <ul class="dropdown-menu" aria-labelledby="{{  dropKey }}">
                {% for submenu in item.below %}
                <li>
                  <a class="{%  if submenu.in_active_trail %} active{%  endif  %}" href="{{ submenu.url }}">{{  submenu.title }}</a>
                  {%  if submenu.below %}
                  <ul class="main-menu--sub-2">
                  {%  for subsub in submenu.below %}
                    <li><a class="{%  if subsub.in_active_trail %} active{%  endif  %}" href="{{ subsub.url }}">{{  subsub.title }}</a></li>
                  {%  endfor %}
                  </ul>
                  {%  endif %}
                </li>
                {%  endfor %}
              </ul>
            {%  endif %}
          </li>
        {%  endfor %}
      </ul>
    </div>
  </div>
</nav>
