{% set base_class = 'senior-spotlight-teaser' %}
<div {{ bem(base_class, [], '', teaser_extra_classes)}}>
  <div {{ bem('image', [], base_class)}}>
  {% if content.field_is_adopted %}
    <div class="ss--is-adopted">Adopted</div>
  {% endif %}
  {% block field_image %}
    <img typeof="foaf:Image" src="https://www.greymuzzle.org/sites/default/files/styles/meet_the_dogs/public/senior_spotllight/potato3.jpg?itok=t9qgsfX1" width="250" height="220" alt="">
  {% endblock %}
  </div>
<div {{ bem('bio', [], base_class)}}>
  <h3 {{ bem('name', [], 'bio')}}>
    <a href="{{ url }}" class="link">{{ label }}</a>
  </h3>
    <div {{ bem('text', [], 'bio')}}>
      {{ content.body }}
    </div>
  </div>
</div>
