<div class="meet-the-dogs-card">
      <div class="meet-the-dogs-card__image">
        <div class="media--image">
          {{ field_meet_main_image }}
        </div>
      </div>
      <div class="meet-the-dogs-card__content">
        <h3 class="meet-the-dogs-card__content__title">
          <a href={{ url }} class="link">{{ label }}</a>
        </h3>
        <div class="meet-the-dogs-card__content__date">
          {{ date }}
        </div>
        <h4>How we helped</h4>
        <div class="meet-the-dogs-card__content__how-we-helped__text">
          {{ field_meet_how_we_helped }}

        </div>
        <div class="meet-the-dogs-card__content__text">
          {{ summary }}
          <a href={{ url }} class="link">Read more<span class="element-invisible">
              about
              {{ label }}</span>
          </a>
        </div>
      </div>
      <!-- /whoweare__bio-wrapper -->
    </div>

