<div {{  attributes | without('class') }}class="meet-the-dogs-card">
  {%  if content.field_meet_deceased %}
    <span class="deceased">We Remember</span>
  {%  endif %}
      <div class="meet-the-dogs-card__image">
        <div class="media--image">
          {{ content.field_meet_main_image }}
        </div>
      </div>
      <div class="meet-the-dogs-card__content">
        <h3 class="meet-the-dogs-card__content__title">
          <a href={{ url }} class="link">{{ label }}</a>
        </h3>
        <h4>How we helped</h4>
        <div class="meet-the-dogs-card__content__how-we-helped__text">
          {{ content.field_meet_how_we_helped }}
        </div>
        <div class="meet-the-dogs-card__content__text">
          {{ content.body }}
          <a href={{ url }} class="link">Read more<span class="element-invisible">
              about
              {{ label }}</span>
          </a>
        </div>
      </div>
    </div>

