<div class='media-card media-card--{{modifier}}'>
  {% block field_media %}
    <div class="media-card__media">
      {{ media }}
    </div>
  {% endblock %}

  <div class='media-card__content'>
    <h2 class="media-card__title">{{ title }}</h2>
    <div class="media-card__text">{{ body }}</div>

    <div class="media-card__cta">
    {% block field_link %}
      <a href="{{button.button_url}}">
        {{ button.button_content }}
      </a>
    {% endblock %}
    </div>
  </div>
</div>

