<div class="meet-the-dogs">
  <div class="meet-the-dogs__image--wrapper">
    <div class="media--image">
      {{ field_meet_main_image }}
    </div>
  </div>
  <div class="meet-the-dogs__content--wrapper">
    <h3 class="meet-the-dogs__title">
      <a href="{{ url }}">{{ label }}</a>
    </h3>
    <div class="meet-the-dogs__date">{{ date }}</div>
    <h4 class="how-we-helped">How we helped</h4>
    <div class="how-we-helped__text">{{ field_meet_how_we_helped }}</div>
    <div class="meet-the-dogs__body">{{ body }} </p>
    <a href="{{ url }}">Read more<span class="element-invisible"> about Grey Muzzle grant recipient, {{ label }}</span></a>
    </div>
  </div>
</div>
