{% set footer__base_class = 'footer' %}

<footer {{ bem(footer__base_class) }}>
  <div {{ bem('inner', [], footer__base_class) }}>
    <div {{ bem('menu', [], footer__base_class) }}>
      {% block footer__menu %}
        {% include "@molecules/menus/inline/inline-menu.twig" %}
      {% endblock %}
    </div>
    <div {{ bem('donate', [], footer__base_class)}}>
      <a class="button button--donate" href="https://greymuzzle.app.neoncrm.com/forms/donate">Donate Now<span class="element-invisible">We regret that this link leads to an inaccessible third party page. Please contact us for assistance.</span></a>
    </div>
    <div {{ bem('social', [], footer__base_class) }}>
      {% include "@molecules/menus/social/social-menu.twig" %}
    </div>
  </div>
</footer>
