
<div class="paragraph paragraph-50 {{direction}}">
  <h2 class="paragraph-50__title">{{ field_title }}</h2>
  <div class="paragraph-50__content {{direction}}">
    <div class="paragraph-50__image">
      {{ field_image }}
    </div>
    <div class="paragraph-50__text">
      <div class="paragraph-50__body">
        {{field_body}}
      </div>
      <a href={{field_cta.uri}} class="btn btn__secondary">{{ field_cta.title }}</a>
    </div>
  <div>
</div>
